html, body {
    width: 100%;
    padding: 0;
    margin:0;
}

@font-face {
    font-family: gilroy;
    src: url("../fonts/Gilroy/Gilroy-ExtraBold.otf");
}

header {
    max-height: 50px;
    background: rgba(0,0,0,.4);
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 999
}

#naglowek {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.container--img-naglowek {
    padding-left: 25px;
}

.img-naglowek {
    width: 150px;
    padding-left: 18px;
}

body {
    font-family: gilroy;
    background-color: #030328;
}

.container-login {
    display: flex;
    align-items: center;
    padding-right: 30px;
    color: #DCDCDC;
    text-transform: uppercase;
    letter-spacing: .2em;
}


.login {
    padding-left: 40px;
    font-size: 13px;
    color: #ffffff;
}


.zaloguj {
    background-color: #b535f6;
    color: #fff;
    border-radius: 100px;
    padding: 10px 30px;
    background: linear-gradient(345deg, rgba(73,12,176,1) 0%, rgba(155,52,239,1) 33%, rgba(255,255,255,0) 66%, rgba(255,255,255,0) 100% );
    background-position: 99% 50%;
    background-size: 400% 400%;
    letter-spacing: .2em;
    font-weight: 800;
    text-transform: uppercase;
    padding: .8em 1.6em .8em;
    border: 2px solid transparent;
    overflow: hidden;
    width: 100%;
    text-decoration: none;
}

.zaloguj:hover {
    background-position: 1% 50%;
    transition: all 0.5s !important;
    border: 2px solid #c600ff;
    color: #fff;
    cursor: pointer;
}

img {
    width: 100%;
}

#sub-header {
    position: relative;
}

.baner-subheader {
    padding-top: 50px;
}


.img-subheader a.zaloguj {
    font-size: 30px;
    margin-bottom: 20px;
    padding: 4px 30px;
    letter-spacing: .1em;
}


h1, h2, h3, h4, h5, p , a{
    color:#ffffff;
}

h1{
    font-size: 40px;
}
h3{
    font-size: 25px;
}

.text-video {
    text-align: center;
    font-size: 30px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    flex: 0.8;
}

#container-video {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    background: #191970;
}

.prezentacja-video {
    border: 2px solid transparent;
    border-color: rgba(154,53,239,0.5);
    height: 265px;
    margin-top: -25px;
    padding: 15px;
}

#container-video > div {
    width: 100%;
    display: flex;
    justify-content: space-around;;
    max-width: 1500px;
    margin: auto;
    height: 240px;
}

#container-video div h3 {
    margin:10px;
    font-size: 2.7rem;
}

#container-video div p {
    margin:0;
    font-size: 1.6rem;
}




#carousel {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}

#carousel div {
    width: 100%;
}

#carousel div h3 {
    font-size: 30px;
}

#carousel .img-carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#carousel div img {
    max-width: 250px;
}

#carousel div p {
    color: gray;
}





#box3 {
    padding-top: 50px;
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

#box3 div h4 {
    font-size: 33px;
}

#box3 .sub-container3 div {
    display: flex;
    align-items: center;
}

#box3 .sub-container3 div h5 {
    font-size: 40px;
    width: 100%;;
}








#box4 {
    margin: auto;
    display: flex;
    margin-top: 100px;
    background: url("../img/Background-promo.png");
}


.sub-container-box4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}
